#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Roboto Light", "Helvetica Neue", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.counter {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border: 1px black solid;
  border-radius: 10px;
}

.counter-btn {
  display: flex;
  gap: 16px;
}

.counter-btn button {
  padding: 8px;
  cursor: pointer;
}
